/* some style */
#app, body {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
}

.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 40vh;
  width: 40vw;
  border-style: solid;
  border-width: 3px;
  border-radius: 5vh;
  background-color: gray;
}

.start-game {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 10vh;
}

.food {
  position: absolute;
  height: 4vh;
  width: 4vw;
  background-color: green;
}

.snake-piece {
  position: absolute;
  height: 4vh;
  width: 4vw;
  background-color: blue;
}
